<h1 md-dialog-title [ngSwitch]="result">
    <i class="material-icons" *ngSwitchCase="1">sentiment_very_satisfied</i>
    <i class="material-icons" *ngSwitchCase="2">sentiment_very_dissatisfied</i>
    <i class="material-icons" *ngSwitchCase="3">sentiment_neutral</i>
</h1>
<div md-dialog-content>{{ resultText }}</div>