.main {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  background: lightslategrey;
  .tris-card {
    max-width: 80vh;
    display: block;
    position: absolute;
    width: 80vw;
    top: 2vh;
    .square {
      position: relative;
      .content {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .violet {
          width: calc(100% / 3);
          height: calc(100% / 3);
          position: relative;
          .mat-raised-button {
            height: 90%;
            width: 90%;
            top: 5%;
            left: 5%;
            min-width: 0;
            background: deepskyblue;
            .material-icons {
              font-size: 10vw;
              font-weight: bold;
              color: white;
            }
          }
        }
      }
      &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    }
  }
}

// Buonce animation
.animated {
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

@keyframes bounce {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
.bounce {
  animation-name: bounce;
}