<div class="main">


  <md-card class="tris-card">
    <md-card-header>
      <div md-card-avatar class="example-header-image">
        <i class="material-icons">gamepad</i>
      </div>
      <md-card-title>Material Tris</md-card-title>
      <md-card-subtitle>Gabriele Franchitto</md-card-subtitle>
    </md-card-header>
    <md-card-content>

      <div class="square">
        <div class="content">
          <div class="violet" *ngFor="let button of buttons">
            <button md-raised-button (click)="click(button)" [disabled]="button.disabled">
              <i class="material-icons animated bounce" *ngIf="button.value === true">clear</i>
              <i class="material-icons animated bounce" *ngIf="button.value === false">fiber_manual_record</i>
            </button>
          </div>
        </div>
      </div>

    </md-card-content>
    <md-card-actions>
      <button md-button (click)="reset()">START</button>
    </md-card-actions>
  </md-card>
</div>
